### Create DataFrames 

Since a new concept is being introduced, it is beneficial to explore the concept first using simple DataFrames. Once you understand the usage and the capabilities of these concepts, you can think of ways to apply these capabilities as and when needed.

In [1]:
import pandas as pd

In [7]:
# Suppressing warnings
import warnings
warnings.simplefilter("ignore")

import pandas as pd
df_1 = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/g5zP2pbkPoO7GnANK0v8L13RV/restaurant-1.csv')
df_2 = pd.read_csv('https://media-doselect.s3.amazonaws.com/generic/5JgANVqwLkBYwxkyZ7VK2XEpA/restaurant-2.csv')
df_3 = pd.concat([df_1,df_2])#Type your code here.

print(df_3.head())

                        name                     address             city
0  arnie morton's of chicago   "435 s. la cienega blvd."    "los angeles"  \
1                 art's deli       "12224 ventura blvd."    "studio city"
2              bel-air hotel      "701 stone canyon rd."        "bel air"
3                 cafe bizou       "14016 ventura blvd."   "sherman oaks"
4                  campanile       "624 s. la brea ave."    "los angeles"

            cuisine unique_id name_2 address_2 city_2 cuisine_2
0     "steakhouses"       '0'    NaN       NaN    NaN       NaN
1           "delis"       '1'    NaN       NaN    NaN       NaN
2     "californian"       '2'    NaN       NaN    NaN       NaN
3   "french bistro"       '3'    NaN       NaN    NaN       NaN
4     "californian"       '4'    NaN       NaN    NaN       NaN

In [4]:
df_1

,name,address,city,cuisine,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blvd.""","""los angeles""","""steakhouses""",'0'
1,art's deli,"""12224 ventura blvd.""","""studio city""","""delis""",'1'
2,bel-air hotel,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french bistro""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""californian""",'4'
...,...,...,...,...,...
107,mifune,"""1737 post st.""","""san francisco""","""japanese""",'107'
108,plumpjack cafe,"""3127 fillmore st.""","""san francisco""","""american (new)""",'108'
109,postrio,"""545 post st.""","""san francisco""","""californian""",'109'
110,ritz-carlton dining room (san francisco),"""600 stockton st.""","""san francisco""","""french (new)""",'110'
111,rose pistola,"""532 columbus ave.""","""san francisco""","""italian""",'111'

In [5]:
df_2

,name_2,address_2,city_2,cuisine_2,unique_id
0,arnie morton's of chicago,"""435 s. la cienega blv.""","""los angeles""","""american""",'0'
1,art's delicatessen,"""12224 ventura blvd.""","""studio city""","""american""",'1'
2,hotel bel-air,"""701 stone canyon rd.""","""bel air""","""californian""",'2'
3,cafe bizou,"""14016 ventura blvd.""","""sherman oaks""","""french""",'3'
4,campanile,"""624 s. la brea ave.""","""los angeles""","""american""",'4'
...,...,...,...,...,...
747,ti couz,"""3108 16th st.""","""san francisco""","""french""",'748'
748,trio cafe,"""1870 fillmore st.""","""san francisco""","""american""",'749'
749,tu lan,"""8 sixth st.""","""san francisco""","""vietnamese""",'750'
750,vicolo pizzeria,"""201 ivy st.""","""san francisco""","""pizza""",'751'
751,wa-ha-ka oaxaca mexican grill,"""2141 polk st.""","""san francisco""","""mexican""",'752'

In [28]:
import numpy as np 
import pandas as pd

# Defining the three dataframes indicating the gold, silver, and bronze medal counts
# of different countries
gold = pd.DataFrame({'Country': ['USA', 'France', 'Russia'],
                         'Medals': [15, 13, 9]}
                    )
silver = pd.DataFrame({'Country': ['USA', 'Germany', 'Russia'],
                        'Medals': [29, 20, 16]}
                    )
bronze = pd.DataFrame({'Country': ['France', 'USA', 'UK'],
                        'Medals': [40, 28, 27]}
                    )

In [29]:
medals = pd.concat([gold, silver, bronze]).groupby('Country').sum().sort_values('Medals', ascending=False).reset_index()

In [30]:
medals

   Country  Medals
0      USA      72
1   France      53
2       UK      27
3   Russia      25
4  Germany      20

In [16]:
medals = gold.add(silver[:1])
medals

  Country  Medals
0  USAUSA    44.0
1     NaN     NaN
2     NaN     NaN

In [2]:
df_1 = {"col1":[1,2,3,4], "col2": [5,6,7,8]}
df_2 = {"col1":[11,12,13,14], "col2": [15,16,17,18]}

In [3]:
df1 = pd.DataFrame(df_1)
df2 = pd.DataFrame(df_2)

In [4]:
df1

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8

In [5]:
df2

   col1  col2
0    11    15
1    12    16
2    13    17
3    14    18

### Concatenation 

It is used when you want to stick two dataframes together without any consideration given to matching elements. In contrast, the merge command uses a key to stitch two data frames together. 

If the shape of the two concatenating dataframes does not match, NaN values are added to make the dimensions uniform.

In [7]:
pd.concat([df1, df2], axis = 0)

# Axis 0 represents row wise concatenation

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8
0    11    15
1    12    16
2    13    17
3    14    18

**NOTE**

- Rows in df2 get added to the df1
- Intexes of df2 remain the same as they were before the join.

In [8]:
pd.concat([df1, df2], axis = 1)

# Axis 0 represents column wise concatenation

   col1  col2  col1  col2
0     1     5    11    15
1     2     6    12    16
2     3     7    13    17
3     4     8    14    18

In [9]:
df1["col3"] = df1["col1"] + df1["col2"]

# After this operation df1 will have 3 columns while df2 has only 2.

In [10]:
pd.concat([df1, df2], axis = 0)

   col1  col2  col3
0     1     5   6.0
1     2     6   8.0
2     3     7  10.0
3     4     8  12.0
0    11    15   NaN
1    12    16   NaN
2    13    17   NaN
3    14    18   NaN

Since there is one extra column in df1, the corresponding vales in df2 become `NaN` or null values.

### Arithmetic Operators on DataFrames

You can perform element wise operations on dataframes as well. These are very similar to operations you performed on NumPy arrays. 

for example, if you want to add all the elements on `df1` to the correspopnding elements on `df2` you can use the '+' operator.

In [11]:
df1 + df2

   col1  col2  col3
0    12    20   NaN
1    14    22   NaN
2    16    24   NaN
3    18    26   NaN

As you saw all the elements in `df1` got added to corresponding elements in `df2`
 
But the `df1` had three columns while `df2` had two. So the operation for the third column is incomplete, that is why you see the null values in the result. This is the most significant difference in using operators in pandas and NumPy; this operation would have thrown an error if it was executed using NumPy arrays.

The same result can be achieved by the `add()` method

In [13]:
df1.add(df2)

   col1  col2  col3
0    12    20   NaN
1    14    22   NaN
2    16    24   NaN
3    18    26   NaN

Along with the normal addition this add method also provides additional functionalities. You can read about them [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.add.html)

similar to the '+' operator and the `add()` there are other operators as well 

- `sub()`: ' - '
- `mul()`: ' * '
- `div()`: ' / '
- `floordiv()`: ' // '
- `mod()`: ' % ' 
- `pow()`: ' ** '

In [15]:
# recreating the DataFrames so that the dimentions match. 

df_1 = {"col1":[1,2,3,4], "col2": [5,6,7,8]}
df_2 = {"col1":[11,12,13,14], "col2": [15,16,17,18]}

df1 = pd.DataFrame(df_1)
df2 = pd.DataFrame(df_2)

print (df1)
print (df2)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8
   col1  col2
0    11    15
1    12    16
2    13    17
3    14    18

In [16]:
df2 - df1

   col1  col2
0    10    10
1    10    10
2    10    10
3    10    10

In [17]:
df2 ** df1

    col1         col2
0     11       759375
1    144     16777216
2   2197    410338673
3  38416  11019960576

In [24]:
# recreating the DataFrames so that the dimentions match. 

df_1 = {"col1":[1,2,3,4], "col2": [5,6,7,8]}
df_2 = {"col1":[11,12,13,14]}

df1 = pd.DataFrame(df_1)
df2 = pd.DataFrame(df_2)

print (df1)
print (df2)

   col1  col2
0     1     5
1     2     6
2     3     7
3     4     8
   col1
0    11
1    12
2    13
3    14

In [25]:
df1 + df2

   col1  col2
0    12   NaN
1    14   NaN
2    16   NaN
3    18   NaN

One of the advantages of pandas DataFrame is that it can hold data of different data types. 
 
Which leads us to the question What would happen of operators were used on DataFrames which have "non-numerical" data types?

In [19]:
df_1 = {"col1":[1,2,3,4], "col2": [5,6,7,8], "col3": [True,False,False,True], "col4": ["a","b","c","d"] }
df_2 = {"col1":[11,12,13,14], "col2": [15,16,17,18], "col3": [True,False,True,False], "col4": ["e","f","g","h"]}

df1 = pd.DataFrame(df_1)
df2 = pd.DataFrame(df_2)

print (df1)
print (df2)

   col1  col2   col3 col4
0     1     5   True    a
1     2     6  False    b
2     3     7  False    c
3     4     8   True    d
   col1  col2   col3 col4
0    11    15   True    e
1    12    16  False    f
2    13    17   True    g
3    14    18  False    h

In [20]:
df1 +df2

D:\Software\Anaconda\lib\site-packages\pandas\core\computation\expressions.py:178: UserWarning: evaluating in Python space because the '+' operator is not supported by numexpr for the bool dtype, use '|' instead
  f"evaluating in Python space because the {repr(op_str)} "

   col1  col2   col3 col4
0    12    20   True   ae
1    14    22  False   bf
2    16    24   True   cg
3    18    26   True   dh

Something very interesting has happened. 
 
Pandas was smart enough to recognise the different data types and use the operators accordingly. 
 
- For int data type, it performed addition 
- For boolean, it performed OR operation
- For string, it performed concatenation

In [21]:
df1 - df2

D:\Software\Anaconda\lib\site-packages\pandas\core\computation\expressions.py:178: UserWarning: evaluating in Python space because the '-' operator is not supported by numexpr for the bool dtype, use '^' instead
  f"evaluating in Python space because the {repr(op_str)} "

TypeError: numpy boolean subtract, the `-` operator, is not supported, use the bitwise_xor, the `^` operator, or the logical_xor function instead.

This throws an error because there is not '-' in strings and pandas cannot figure out what to do.

In [22]:
df_1 = {"col1":[1,2,3,4], "col2": [5,6,7,8], "col3": [True,False,False,True], "col4": ["a","b","c","d"] }
df_2 = {"col1": [True,False,True,False], "col2": ["e","f","g","h"], "col3":[11,12,13,14], "col4": [15,16,17,18] }

df1 = pd.DataFrame(df_1)
df2 = pd.DataFrame(df_2)

print (df1)
print (df2)

   col1  col2   col3 col4
0     1     5   True    a
1     2     6  False    b
2     3     7  False    c
3     4     8   True    d
    col1 col2  col3  col4
0   True    e    11    15
1  False    f    12    16
2   True    g    13    17
3  False    h    14    18

In [23]:
df1 + df2

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Since the data types of correcponding columns do not match Pandas throws a type error.

### Summary

##### 1. `Concatenation` : Used when you want to stich to dataframes together without any reguard to the values. 
a. Even if the shapes do not match the operation is performed. Filling Null values wherever necessary. 
##### 2. `operators` : Can perform element wise operations on Pandas DataFrames. 
a. You can use operators themselves '+' or the function `add()` for the same result.  
b. If the Shape does not match then null values are added. 
c. Can work with differnet data types as well, as long as the operation is defined for that data type.